<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.JobMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.study.model.JobModel">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_Enabled" property="isEnabled"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <select id="test" resultMap="BaseResultMap">
        select * from job
        <if test="startTime != null and endTime != null">
            where create_time &gt;= #{startTime} and create_time &lt;= #{endTime}
        </if>
    </select>

</mapper>
