<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.UserGroupResourceRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.study.model.UserGroupResourceRelation">
        <result column="user_group_id" property="userGroupId" />
        <result column="resource_id" property="resourceId" />
        <result column="resource_button" property="resourceButton" />
    </resultMap>

</mapper>
